<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.github.kilianB.log4j" status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFile" filename="${sys:logPath}\logs\SASCampaignNavigator.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n"/>
        </File>
        <File name="LogToReport" filename="${sys:logPath}\report\SASCampaignNavigator.html">
            <PatternHtmlLayout
                    pattern="${sys:num} %td %d{DEFAULT} %td ${sys:campaign} %td ${sys:taskType} %msg%n"
                    header="N°, Time, Campaign, Task Type, Status"/>
            <Filters>
                <ThresholdFilter level="warn"  onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="error" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="fatal" onMatch="DENY"   onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToReport" level="info"/>
        </Root>

    </Loggers>
</Configuration>